nav {
  width: 100vw;
  height: 50px;
  border-bottom: 1px solid $color4;
  padding: 0 20px;
  #logo {
    height: 25px;
    margin-top: 12.5px;
    width: 50px;
    path {
      fill: $color4;
      transition: all 200ms ease-in-out;
    }
    #head {
      fill: $color3;
    }
    #line {
      stroke: $color4;
    }
    &:hover {
      path {
        fill: $color5;
      }
      #line {
        stroke: $color1;
      }
    }
  }
  .brand-name {
    font-weight: light;
    color: $color4;
    font-size: 1.7rem;
    position: relative;
    top: -3px;
  }
  .save-button {
    float: right;
    margin-top: 7px;
  }
}
