.editor, .preview {
  width: 50vw;
  height: 100vh;
  overflow: scroll;
  padding: 20px;
  @media(max-width: 768px) {
    width: 100vw;
    height: 50vh;
  }
}

.editor {
  border: 0;
  resize: horizontal;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  &:focus {
    outline: none;
  }
  &::-webkit-resizer {
    border: 10px solid #999;
    border-top-color: transparent;
    border-left-color: transparent;
  }
}

.preview {
  background: #eee;
  border-left: 3px solid #999;
  @media(max-width: 768px) {
    border-left: 0;
    border-top: 3px solid #999;
  }
}
