nav {
  width: 100vw;
  height: 50px;
  border-bottom: 1px solid $color4;
  padding: 0 20px;
  #logo {
    height: 30px;
    margin-top: 10px;
    width: 50px;
    #pen, #left-bracket, #right-bracket {
      fill: $color4;
    }
  }
  span {
    line-height: 50px;
    font-weight: light;
    color: $color4;
    font-size: 1.7rem;
    margin: 0;
    padding: 0;
  }
}
