body.dark {
  nav, footer {
    background: $color2;
  }
  nav {
    border-bottom-color: darken($color1, 100%);
  }
  footer {
    border-top-color: darken($color1, 100%);
  }
  color: $color3;
  .editor {
    color: $color3;
    background: $color1;
    &::-webkit-resizer {
      border-right-color: darken($color1, 100%);
      border-bottom-color: darken($color1, 100%);
    }
  }
  .preview {
    background: darken($color1, 10%);
    border-left-color: darken($color1, 100%);
  }
  .dropdown ul {
    background: $color1;
    border-color: $color1;
    &:after {
      border-bottom-color: $color2;
    }
    li:first-of-type:after {
      border-bottom-color: $color1;
    }
    li:hover {
      background: $color2;
      color: $color3;
    }
  }
  pre {
    background: $color1;
  }
  blockquote {
    background: $color1;
    border-left-color: $color2;
  }
  a {
    color: lighten($color5, 10%);
    &:hover {
      color: $color5;
    }
  }
  .help-modal {
    color: $color1;
    code, pre {
      color: $color3;
    }
  }
}
