body.dark {
  nav, footer {
    background: $color2;
  }
  color: $color3;
  .editor {
    color: $color3;
    background: $color1;
  }
  .preview {
    background: darken($color1, 10%);
  }
  .dropdown ul {
    background: $color1;
    border-color: $color1;
    &:after {
      border-bottom-color: $color2;
    }
    li:first-of-type:after {
      border-bottom-color: $color1;
    }
    li:hover {
      background: $color2;
      color: $color3;
    }
  }
  pre {
    background: $color1;
  }
  blockquote {
    background: $color1;
    border-left-color: $color2;
  }
  a {
    color: lighten($color5, 10%);
    &:hover {
      color: $color5;  
    }
  }
}
