body.dark {
  nav, footer {
    background: $color2;
  }
  nav {
    border-bottom-color: darken($color1, 100%);
    .save-button:hover,
    .download-button:hover {
      background: $color4;
      border-color: $color1;
      color: darken($color1, 50%) !important;
    }
  }
  footer {
    border-top-color: darken($color1, 100%);
  }
  color: $color3;
  .editor {
    color: $color3;
    background: $color1;
    &::-webkit-resizer {
      border-right-color: darken($color1, 100%);
      border-bottom-color: darken($color1, 100%);
    }
  }
  .preview {
    background: darken($color1, 10%);
    border-left-color: darken($color1, 100%);
  }
  .dropdown ul {
    background: $color1;
    border-color: $color1;
    &:after {
      border-bottom-color: $color2;
    }
    li:first-of-type:after {
      border-bottom-color: $color1;
    }
    li:hover {
      background: $color2;
      color: $color3;
    }
  }
  pre {
    background: $color1;
  }
  blockquote {
    background: $color1;
    border-left-color: $color2;
  }
  a {
    color: lighten($color5, 10%);
    &:hover {
      color: $color5;
    }
  }
  .help-modal {
    color: $color1;
    code, pre {
      color: $color3;
    }
  }

  .brand {
    text-decoration: none;
    &:hover {
      .brand-name {
        color: $color1;
      }
      #logo {
        path {
          fill: $color4;
        }
        #line {
          stroke: $color1;
        }
      }
    }
    #logo {
      height: 25px;
      margin-top: 12.5px;
      width: 50px;
      span {
        text-decoration: none;
      }
      path {
        fill: $color3;
        transition: all 200ms ease-in-out;
      }
      #head {
        fill: $color2;
      }
      #line {
        stroke: $color3;
        fill: transparent;
      }
      #strike {
        stroke: $color2;
      }
    }
    .brand-name {
      font-weight: light;
      color: $color4;
      font-size: 1.2rem;
      line-height: 50px;
      position: relative;
      top: -2px;
      left: -5px;
      transition: all 200ms ease-in-out;
      @media(max-width: 768px) {
        display: none;
      }
    }
  }

}
